#GameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Sanchez', serif;
}

#wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#audio {
    position: fixed;
    bottom: 0;
    width: 100%;
}