html,
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#audio {
    position: fixed;
    bottom: 0;
    width: 100%;
}